.nav-section{
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: rgba(196, 196, 213, 0.7);


  .nav-burger{
    .burger-btn {
      display: none
    }
    @media (max-width: 768px) {
      .burger-btn{
        display: block
      }
      .nav-list{
        position: absolute;
        left: -9999px;
      }
      .nav-list--open{
        display: flex;
        position: absolute;
        padding: 10px 20px;
        left: 0;
        flex-grow: revert;
        flex-direction: column;
        min-height: 100vh;
        background: hsla(252,13%,46%,1);
        width: 100%;
        top: 100%;
        transition: left 0.3s;
        font-size: 20px;
      }
    }
  }

}
