*, *:before, *:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}